.idea
.vscode
/code/DATA_FILES
/code/prev/DATA_FILES
/code/__pycache__

/code/ML_MODELS/DREAMER

/code/ML_MODELS/ECG_model/ECG
/code/ML_MODELS/ECG_model/Labels
/code/ML_MODELS/EEG_model/Labels
/code/ML_MODELS/ECG_model/Train_Test_Spilt_ECG
/code/ML_MODELS/EEG_model/Train_Test_Split_EEG
/code/ML_MODELS/EEG_model/EEG

/code/ML_MODELS/PCA/DREAMER/
/code/ML_MODELS/PCA/PCA_Column
/code/ML_MODELS/PCA/PCA_EEG
/code/ML_MODELS/PCA/PCA_Labels
/code/ML_MODELS/PCA/Train_Test_Data

/code/ML_MODELS/Combine_model/ECG
/code/ML_MODELS/Combine_model/Labels
/code/ML_MODELS/Combine_model/Train_Test_Data_ECG
/code/ML_MODELS/Combine_model/Train_Test_Data_EEG
/code/ML_MODELS/Combine_model/PCA_EEG
/code/ML_MODELS/Combine_model/EEG